<h1>Login</h1>

<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %> <div class="form-group">

  <%= text_input f, :username, placeholder: "Username", class: "form-control" %> </div>

  <div class="form-group">
    <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
  </div>

  <%= submit "Log in", class: "btn btn-primary" %>

<% end %>
