<h2><%= @video.title %></h2>
<div class="row">
  <div class="col-sm-7">
    <%= content_tag :div, id: "video", data: [id: @video.id, player_id: player_id(@video)] do %> <% end %>
  </div>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Annotations</h3>
      </div>
      <div id="msg-container" class="panel-body annotations">
      </div>
      <div class="panel-footer">
        <textarea id="msg-input" rows="3" class="form-control" placeholder="Comment..."></textarea>
        <button id="msg-submit" class="btn btn-primary form-control" type="submit">Post</button>
      </div>
    </div>
  </div>
</div>
